[user]
	useConfigOnly = true

[core]
	editor = vim
	pager = less -F -X
	excludesfile = ~/.global_gitignore
	precomposeunicode = true

[push]
	default = simple

[pull]
	ff = only

[alias]
	diffd = difftool -d
	diffdm = difftool --tool=diffmerge
	diffk = difftool --tool=kdiff3
	diffwm = difftool -d --tool=winmerge
	diffp4 = difftool --tool=p4merge
	diffu = difftool --tool=diffuse
	diffod = difftool --tool=opendiff
	cdiff = difftool --tool=cdiff
	# icdiff works out of the box with git: just run `git icdiff`

	smu = submodule update
	diff-stash = stash show -p stash@{0}

[diff]
	prompt = false
	tool = meld

[merge]
	prompt = false
	tool = mergemeld
	conflictstyle = diff3
	log = yes
	renamelimit = 9999

# Overwrite diff and merge on macOS
[includeIf "gitdir:/Users/"]
	path = "~/.dotfiles/git/gitconfig_macos"

[difftool "meld"]
	cmd = meld \"$LOCAL\" \"$REMOTE\"

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[difftool "cdiff"]
	cmd = cdiff -s \"$LOCAL\" \"$REMOTE\"

[difftool "kdiff3"]
	cmd = kdiff3 \"$LOCAL\" \"$REMOTE\"

[difftool "winmerge"]
	name = WinMerge
	trustExitCode = false
	#cmd = "wine '~/.wine/drive_c/Program Files (x86)/WinMerge/WinMergeU.exe' \"$LOCAL\" \"$REMOTE\""

[difftool "p4merge"]
	cmd = p4merge "$LOCAL" "$REMOTE"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[difftool "diffuse"]
	cmd = diffuse "$LOCAL" "$REMOTE"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[mergetool "mergemeld"]
	  cmd = meld --auto-merge --output \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" --diff \"$BASE\" \"$LOCAL\" --diff \"$BASE\" \"$REMOTE\"

[mergetool "kdiff3"]
	cmd = kdiff3 $LOCAL $BASE $REMOTE -o $MERGED

[mergetool "vscode-merge"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[init]
	templateDir = ~/.dotfiles/git/git-templates/
	defaultBranch = main

[difftool]
	prompt = false

[clangFormat]
	extension = cpp,c,hpp,h
	style = file

[hooks "clangformat"]
	verbose = ON

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
