[user]
	useConfigOnly = true

[core]
	editor = vim
	pager = less -F -X
	excludesfile = ~/.global_gitignore
	precomposeunicode = true

[push]
	default = simple

[pull]
	ff = only

[alias]
	diffd = difftool -d
	diffdm = difftool --tool=diffmerge
	diffk = difftool --tool=kdiff3
	diffwm = difftool -d --tool=winmerge
	diffp4 = difftool --tool=p4merge
	diffu = difftool --tool=diffuse
	diffod = difftool --tool=opendiff
	cdiff = difftool --tool=cdiff
	# icdiff works out of the box with git: just run `git icdiff`

	smu = submodule update
	diff-stash = stash show -p stash@{0}

[diff]
	prompt = false
	tool = meld

[difftool]
	prompt = false
	tool = meld

[difftool "meld"]
	cmd = meld \"$LOCAL\" \"$REMOTE\"

[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[difftool "cdiff"]
	cmd = cdiff -s \"$LOCAL\" \"$REMOTE\"

[difftool "kdiff3"]
	cmd = kdiff3 \"$LOCAL\" \"$REMOTE\"

[difftool "winmerge"]
	name = WinMerge
	trustExitCode = false
	#cmd = "wine '~/.wine/drive_c/Program Files (x86)/WinMerge/WinMergeU.exe' \"$LOCAL\" \"$REMOTE\""

[difftool "p4merge"]
	cmd = p4merge "$LOCAL" "$REMOTE"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[difftool "diffuse"]
	cmd = diffuse "$LOCAL" "$REMOTE"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[merge]
	prompt = false
	tool = mergemeld
	conflictstyle = diff3
	log = yes
	renamelimit = 9999

[mergetool "mergemeld"]
	  cmd = meld --auto-merge --output \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" --diff \"$BASE\" \"$LOCAL\" --diff \"$BASE\" \"$REMOTE\"

[mergetool "kdiff3"]
	cmd = kdiff3 $LOCAL $BASE $REMOTE -o $MERGED

[init]
	templateDir = ~/git-templates

[difftool]
	prompt = false

[clangFormat]
	extension = cpp,c,hpp,h
	style = file

[hooks "clangformat"]
	verbose = ON

